.Output {
    width: 100%;
    height: 30%;
    padding:4px;
    background: #efe5fd;
    background-clip: content-box; 
  box-shadow: inset 0 0 0 4px black; 
  box-sizing: border-box;
  border-radius: 10px;
}

.OutputText {
    text-align: right;
    text-justify: auto;
    margin-right: 2vw;
    font-style: normal;
    color: black;
}

@media screen and (min-width: 576px) {
  .Output {
    width: 50vw;
  }
}